Dati inerenti al volume d'acqua erogato.
Quello che vorrei fare è prendere tutti i dati e creare una tabella con due colonne, una timestamp e l'altra con i valori

In [2]:
import pandas as pd

In [9]:
dati = pd.read_csv(r'C:\Users\giode\PycharmProjects\Script_Tesi_new\Dati\Urban Water Demand Data.txt', sep='\t', index_col=False, header=0, names=('date','00:00-00:59','01:00-01:59','02:00-02:59','03:00-03:59','04:00-04:59','05:00-05:59','06:00-06:59','07:00-07:59','08:00-08:59','09:00-09:59','10:00-10:59','11:00-11:59','12:00-12:59','13:00-13:59','14:00-14:59','15:00-15:59','16:00-16:59','17:00-17:59','18:00-18:59','19:00-19:59','20:00-20:59','21:00-21:59','22:00-22:59','23:00-23:59'))
dati.head()

C:\Users\giode\AppData\Local\Temp\ipykernel_29120\115512574.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  dati = pd.read_csv(r'C:\Users\giode\PycharmProjects\Script_Tesi_new\Dati\Urban Water Demand Data.txt', sep='\t', index_col=False, header=0, names=('date','00:00-00:59','01:00-01:59','02:00-02:59','03:00-03:59','04:00-04:59','05:00-05:59','06:00-06:59','07:00-07:59','08:00-08:59','09:00-09:59','10:00-10:59','11:00-11:59','12:00-12:59','13:00-13:59','14:00-14:59','15:00-15:59','16:00-16:59','17:00-17:59','18:00-18:59','19:00-19:59','20:00-20:59','21:00-21:59','22:00-22:59','23:00-23:59'))

,date,00:00-00:59,01:00-01:59,02:00-02:59,03:00-03:59,04:00-04:59,05:00-05:59,06:00-06:59,07:00-07:59,08:00-08:59,...,14:00-14:59,15:00-15:59,16:00-16:59,17:00-17:59,18:00-18:59,19:00-19:59,20:00-20:59,21:00-21:59,22:00-22:59,23:00-23:59
0,02-10-2012,13815.2,13290.0,13416.2,13424.6,14607.3,21604.4,36274.4,36846.8,34012.0,...,28082.1,26270.8,26023.8,28019.3,31906.8,32429.2,27880.0,23147.9,20957.8,15324.4
1,03-10-2012,11078.6,11697.2,11279.2,11198.1,12768.4,20138.0,34931.9,37314.8,34414.3,...,27743.6,26022.8,25997.0,28242.3,31042.9,32205.7,27964.7,23597.8,20851.1,16044.3
2,04-10-2012,13771.8,13011.6,12756.0,12661.6,13957.2,21665.0,36087.8,38116.9,34242.8,...,27982.7,26031.9,25612.4,27847.9,31213.1,32037.0,27599.1,23238.5,20826.7,15697.4
3,05-10-2012,13551.6,12653.2,12581.7,12516.8,14060.3,21484.9,35658.7,38200.6,34912.5,...,28179.3,26272.5,25954.0,27709.7,30704.5,30711.2,26048.8,22459.6,20299.4,16377.4
4,06-10-2012,14036.0,13168.7,12758.2,12569.2,13392.8,16693.4,23824.1,32488.1,36058.1,...,27668.6,25895.9,25595.1,26710.9,28884.1,28152.1,24205.4,21621.2,19965.6,17302.7

In [10]:
dati.columns

Index(['date', '00:00-00:59', '01:00-01:59', '02:00-02:59', '03:00-03:59',
       '04:00-04:59', '05:00-05:59', '06:00-06:59', '07:00-07:59',
       '08:00-08:59', '09:00-09:59', '10:00-10:59', '11:00-11:59',
       '12:00-12:59', '13:00-13:59', '14:00-14:59', '15:00-15:59',
       '16:00-16:59', '17:00-17:59', '18:00-18:59', '19:00-19:59',
       '20:00-20:59', '21:00-21:59', '22:00-22:59', '23:00-23:59'],
      dtype='object')

In [19]:
dati.stack().reset_index()

      level_0      level_1           0
0           0         date  02-10-2012
1           0  00:00-00:59     13815.2
2           0  01:00-01:59     13290.0
3           0  02:00-02:59     13416.2
4           0  03:00-03:59     13424.6
...       ...          ...         ...
8845      353  19:00-19:59     31425.0
8846      353  20:00-20:59     27188.7
8847      353  21:00-21:59     22630.9
8848      353  22:00-22:59     19858.5
8849      353  23:00-23:59     14057.3

[8850 rows x 3 columns]

In [15]:
dati.melt(id_vars=['date'], value_vars=['00:00-00:59', '01:00-01:59', '02:00-02:59', '03:00-03:59',
       '04:00-04:59', '05:00-05:59', '06:00-06:59', '07:00-07:59',
       '08:00-08:59', '09:00-09:59', '10:00-10:59', '11:00-11:59',
       '12:00-12:59', '13:00-13:59', '14:00-14:59', '15:00-15:59',
       '16:00-16:59', '17:00-17:59', '18:00-18:59', '19:00-19:59',
       '20:00-20:59', '21:00-21:59', '22:00-22:59', '23:00-23:59'], col_level=-1)

            date     variable    value
0     02-10-2012  00:00-00:59  13815.2
1     03-10-2012  00:00-00:59  11078.6
2     04-10-2012  00:00-00:59  13771.8
3     05-10-2012  00:00-00:59  13551.6
4     06-10-2012  00:00-00:59  14036.0
...          ...          ...      ...
8491  26-09-2013  23:00-23:59  17192.4
8492  27-09-2013  23:00-23:59  17097.9
8493  28-09-2013  23:00-23:59  17090.2
8494  29-09-2013  23:00-23:59  15565.5
8495  30-09-2013  23:00-23:59  14057.3

[8496 rows x 3 columns]